<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search results</title>
    <link rel="stylesheet" type="text/css" href="../style/glavna.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

</head>
<body>

<div class="header-top" style="border-bottom: 2px solid #0b3e91">
    <div id="yes" hidden class="logged" style="padding: 5px">
        <div class="holder">
            <div class="logo">
                <b><p class="knjiga">SERVISNA KNJIGA</p></b>
            </div>
            <div style="float: right"><p id="ime1" style="display: inline-block">Welcome </p>
                <button id="logout" class="bttn2">Log Out!</button>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear: both">
    </div>
    <div id="vrh" class="header-bottom">
        <div class="wrapper">

            <!--<hr style="border-bottom: 2px solid #0b3e91;">-->
            <!--<div id="logo"><b><p style="font-size: 25px; color: #0b3e91">SERVISNA KNJIGA</p></b></div>-->
            <div id="nav" style="margin: 0 auto">
                <ul>
                    <li><a href="index.html">Pocetna</a></li>
                    <li><a href="profile.html" id="profil">Moj Profil</a></li>
                    <li><a href="kako-funkcionise.html">Kako funkcionise?</a></li>
                    <li><a href="services.html">Autoservisi</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div style="background: url(../Images/parallax-transparent.jpg)">

    <h2 class="rp">Rezultat pretrage:</h2>
    <div class="wrapper2">
        <div  id="result">

        </div>
        <div style="margin-top: 450px"></div>

    </div>
</div>

<hr style="border-bottom: 2px solid #0b3e91; margin-top: 5px">

<div id="footer">

    <p class="rights">All rigths reserved &copy; 2019 Marko</p>

</div>

</body>

<script>

    var url = $(location).attr('href');
    parts = url.split("=");
    last_part = parts[parts.length-1];
    console.log(last_part);

    $( document ).ready(function(){
        $.ajax({
            type: "POST",
            url: 'http://localhost/ServisnaKnjiga/public/findCarByRegistration.php',
            data: {registration: last_part},
            dataType: 'json',
            success: function(data) {
                console.log(data);
                if (data.length === 0){
                    console.log("nema pronadjenih auta");
                    $("#result").append('<h3>Ne postoji auto sa tim registarskim oznakama</h3>');
                }
                else {
                    $.each(data, function() {
                        if (this.private != 0) {
                            $("#result").append('<div class="service" )>' +
                                '<img src="../Images/car_avatar.png" alt="avatar" style="margin: 10px 0"><div style="vertical-align: auto; margin: auto">' +
                                '<p class="fa">Marka i model: ' +
                                this.auto + '</p><br><p class="fad"><a href="showSearchedCar.html?car_id=' + this.id + '&service_book_id=' +
                                this.service_book_id + '">Prikazi vise...</a></p></div></div>')
                        } else {
                            $("#result").append('<div class="service" )>' +
                                '<img src="../Images/car_avatar.png" alt="avatar" style="margin: 15px 0"><div style="vertical-align: auto; margin: auto">' +
                                '<p class="fa">Marka i model: ' +
                                this.auto + '</p><br><p class="fad">Vlasnik je zakljucao podatke o autu</p></div></div>')
                        }
                    })
                }
            },
        });
    });
    $( document ).ready(function(){
        $.ajax({
            type: "POST",
            url: 'http://localhost/ServisnaKnjiga/public/checkSession.php',
            data: { id: last_part },
            dataType: 'json',
            success: function(data) {
                if(data.status)
                {
                    // $("#first").append('<div style="width: 860px; margin: 0 auto; padding-top: 15px">' +
                    //     '<div style="float: right">Welcome ' + data.name + ' <button id="logout">Log Out!</button>' +
                    //     '</div><div style="clear: both"></div></div>' +
                    //     '<hr style="border-bottom: 2px solid #0b3e91;">');
                    // window.history.pushState(null, null, "?id=" + data.id);
                    $("#yes").show();
                    $("#ime1").append(data.name);

                    window.history.pushState(null, null, "?id=" + data.id);

                }
            },
        });
    });
</script>

</html>